bg-news-trf @ https://huggingface.co/sakelariev/bg_news_trf/resolve/main/bg_news_trf-3.5.4-py3-none-any.whl
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl
langcodes==3.5.1
pathy==0.11.0
pipdeptree==2.30.0
presidio-analyzer==2.2.35
PyMuPDF==1.27.1
torchvision==0.21.0+cu124
wrapt==2.1.1
